<div class="parallax">
	<div id="section1" class="parallax_group" >
		<div class="content ">
			<div id="hero_text" class="parallax_layer layer_back" >
				<h2>THE<br> MENU<br> REINVENTED</h2>
				<h3>DISCOVER. BROWSE. EAT.</h3>
				<a href="#" class="download">DOWNLOAD</a>
				<a href="#" id="watch">WATCH</a>
			</div>
			<div id="hero_hand" class="parallax_layer layer_front" data-bottom-bottom="bottom: 0vh" data-6p-top-top="bottom: 94vh">
				<%= image_tag("dishup_hand_hero.png", class: "heroimage")%>
			</div>
		</div>
	</div>
	<div id="section2" class="parallax_group" data-bottom-top="top: 94vh" data-6p-top-top="top: 0vh" >
		<div class="content">
			<div  class="parallax_layer layer_front">
				<%= image_tag("du_dishpic_screen.png", class: "heroimage")%>
				<p>Reinventing the traditional menu one swipe at a time, Dishup enhances the way users and restaurants interact. We use yelp to find places. We use maps to get there but what do we do once we’re inside?</p>
			</div>
		</div>
	</div>
	<div id="section3" class="parallax_group" data-bottom-top="top: 94vh" data-6p-top-top="top: 0vh">
		<div class="content ">
			<div class="parallax_layer layer_front">
				<%= image_tag("du_stacked_screens.png", class: "heroimage")%>
				<p>Reinventing the traditional menu one swipe at a time, Dishup enhances the way users and restaurants interact. We use yelp to find places. We use maps to get there but what do we do once we’re inside?</p>
			</div>
		</div>
	</div>
	<div id="section4" class="parallax_group" data-bottom-top="top: 94vh" data-6p-top-top="top: 0vh">
		<div class="content ">
			<div  class="parallax_layer layer_front">
				<p>Reinventing the traditional menu one swipe at a time, Dishup enhances the way users and restaurants interact. We use yelp to find places. We use maps to get there but what do we do once we’re inside?</p>
				<a href="#" class="download_link">DOWNLOAD</a>
			</div>
		</div>
	</div>
	<div id="section5" class="parallax_group" data-bottom-top="top: 94vh" data-6p-top-top="top: 0vh">
		<div class="content ">
			<div class="parallax_layer layer_front">
				<p>Not ready to download just yet? Interested in learning more? Just sign up below.</p>
				<div class="input-group">
			      <input type="text" class="form-control" placeholder="email">
			      <span class="input-group-btn">
			        <button class="btn btn-default" type="button">SUBMIT</button>
			      </span>
			    </div><!-- /input-group -->
			</div>
		</div>
	</div>
</div>